

.container{
    background-color: #3D74B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
}

#Header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #EAC8A6;
    width: 55%;
    border-radius: 20px;
    border: 3px  #DC3C22;
    border-style: dashed;
}

#Header h2{
    margin-left: 20px;
    color: #DC3C22;
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#Header img{
    height: 80%;
}

#counter{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #EAC8A6;
    width: 55%;
    border-radius: 20px;
    border: 3px  #DC3C22;
    border-style: dashed;
}

#output{
    width: 60%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#output p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #DC3C22;
}


#buttonClass{
    display: flex;
}

#buttonClass button{
    margin: 5px;
    background-color: #3D74B6;
    height: 50px;
    width: 80px;
    border-radius: 20px;
}

#checkpointList{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    background-color: #EAC8A6;
    width: 55%;
    border-radius: 20px;
    border: 3px  #DC3C22;
    border-style: dashed;   
}

#list{
    background-color: aliceblue;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
}

li{
    color: #DC3C22;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid grey;
    width: 92%;
}